{% extends 'base/base.html' %}
{% load i18n %}

{% block content %}
<main id="js-page-content" role="main" class="page-content">
    <div class="subheader"></div>
    <div class="h-alt-hf d-flex flex-column align-items-center justify-content-center text-center">
        <h1 class="page-error color-fusion-500">
            {% trans "ОШИБКА" %} <span class="text-gradient">500</span>
            <small class="fw-500">
                {% trans "Системная ошибка" %}. 
                <br>
                <small>{% trans "Мы уже получили уведомление и в ближайшее время все исправим" %}.</small>
            </small>
        </h1>
        <h3 class="fw-500 mb-5">
            {% trans "Вы можете перейти на главную страницу "%} <a href="{{ HOST }}">{{ HOST_PRETTY }}</a>
        </h3>
    </div>
</main>
{% endblock %}