{% extends 'base/base_auth.html' %}
{% load i18n %}

{% block title %}{% trans "Обучение" %} :: {% trans "Сбросить пароль" %}{% endblock %}

{% block content %}
<div class="flex-1" style="background: url({{ STATIC_URL }}base/img/svg/pattern-1.svg) no-repeat center bottom fixed; background-size: cover;">
    <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
        <div class="row">
            <div class="col-xl-12">
                <h2 class="fs-xxl fw-500 mt-4 text-white text-center">
                    {% trans "Сбросить пароль" %}
                </h2>
            </div>
            <div class="col-xl-6 ml-auto mr-auto mt-4">
                <div class="card p-4 rounded-plus bg-faded">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}  
                        <div class="form-group row password-registration mb-0">
                            <div class="col-6 pr-1">
                                <label class="form-label" for="userpassword">{% trans "Новый пароль" %}:</label>
                                <input type="password" class="form-control" placeholder="{% trans 'Пароль' %}" name="password" id="password" minlength="6" maxlength="32" required>
                            </div>
                            <div class="col-6 pr-1">
                                <label class="form-label" for="userpassword">{% trans "Повторите пароль" %}:</label>
                                <input type="password" class="form-control" placeholder="{% trans 'Повторите пароль' %}" name="confirm_password" id="confirm_password" minlength="6" maxlength="32"  required>
                            </div> 
                        </div>
                        <div class="row no-gutters">
                            <div class="col-md-4 ml-auto text-right">
                                <button type="submit" class="btn btn-block btn-danger btn-xl mt-3">{% trans "Сбросить пароль" %}</button>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
var password = document.getElementById("password")
   ,confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("{% trans 'Пароли не совпадают' %}");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
{% endblock %}